.dflex {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.con{
  width: 100%;
  height: 60vh;
  display: flex;
}

.dflex p {
  width: 60vw;
}

.pfixed{
  position: relative;
  bottom: 0;
}